@import url("https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");

.about-component {
  padding-top: 350px;
  padding-bottom: 150px;
  display: inline-block;
}
.quote {
  color: rgb(217, 124, 80);
  font-family: "Yeseva One", cursive;
}
.speaker {
  font-family: "Josefin Sans", sans-serif;
  color: rgb(219, 169, 136);
}
.first-paragraph {
  width: 200%;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(219, 169, 136);
  margin-left: 50px;
  font-size: 24px;
  text-align: left;
}
.first-container {
  display: flex;
  align-items: flex-start;
}
.second-paragraph {
  width: 50%;
  font-family: "Josefin Sans", sans-serif;
  color: rgb(219, 169, 136);
  padding-right: 50px;
  text-align: left;
  font-size: 24px;
  float: right;
}

.me-image {
  width: 50%;
  height: 45%;
  margin-top: 40px;
  margin-right: 20px;
  margin-left: 80px;
  position: relative;
  border-radius: 20px;
}
.second-container {
  display: flex;
  align-items: flex-start;
}
.friends-image {
  float: left;
  width: 30%;
  height: 20%;
  margin-top: 20px;

  border-radius: 20px;
  position: relative;
  margin-left: 50px;
  /* display: none; */
}
@media screen and (max-width: 850px) {
    .about-component {
        padding: 350px 0px;
        display: block;
      }

    .first-container {
        display: unset;
        align-items: unset;
    }

    .first-paragraph {
        color: rgb(219, 169, 136);
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        font-size: 16px;
    }

    .friends-image {
        height: 50%;
        border-radius: 20px;
        position: unset;
        float: unset;
        display: none;
        margin: unset;
    }

    .me-image {
        width: 60%;
        height: 60%;
        border-radius: 20px;
        position: unset;
        float: unset;
        margin: unset;
    }

    .second-container {
        display: unset;
        align-items: unset;
    }

    .second-paragraph {
        color: rgb(219, 169, 136);
        width: 100%;
        border-radius: 0px;
        margin-left: 0px;
        font-family: "Josefin Sans", sans-serif;
        text-align: center;
        font-size: 16px;
        padding-right: 0px;
    }

    .speaker {
        font-family: "Josefin Sans", sans-serif;
        color: rgb(219, 169, 136);
    }

    .quote {
        color: rgb(217, 124, 80);
        font-family: "Yeseva One", cursive;
    }
}
